<%- include("../../shared/includes/head", { pageTitle: "Product Details" }) %>
<link rel="stylesheet" href="/styles/products.css">

</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main id="product-details">
        <header>
            <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>"/>
            </div>
            <div>
                <h2><%= product.title %></h2>
                <p><%= product.price %></p>
                <button class="btn">Add To Cart</button>
            </div>
        </header>
        <p id="product-description"><%= product.description %></p>
    </main>

<%- include("../../shared/includes/footer") %>