<%- include("../../shared/includes/head", { pageTitle: product.title }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main id="product-details">
        <header>
            <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>"/>
            </div>
            <div>
                <h2><%= product.title %></h2>
                <p>Rs.<%= product.price %></p>
                <button class="btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add To Cart</button>
            </div>
        </header>
        <p id="product-description"><%= product.description %></p>
    </main>

<%- include("../../shared/includes/footer") %>